<a href="https://colab.research.google.com/github/sunandhini96/Programming/blob/main/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem Statement:
Question. Find the nth term of the series.

1, 1, 2, 3, 4, 9, 8, 27, 16, 81, 32, 243,64, 729, 128, 2187 ….

This series is a mixture of 2 series – all the odd terms in this series form a geometric series and all the even terms form yet another geometric series. Write a program to find the Nth term in the series.

The value N in a positive integer that should be read from STDIN.
The Nth term that is calculated by the program should be written to STDOUT.
Other than value of n th term,no other character / string or message should be written to STDOUT.
For example , if N=16, the 16th term in the series is 2187, so only value 2187 should be printed to STDOUT.
You can assume that N will not exceed 30.

```
Case 1
Input- 16
Expected Output – 2187
```

```
Case 2
Input- 13
Expected Output – 64
```

## Method 1:

In [17]:
n = int(input( ))
pos = 1
j,k = 0,0
for i in range(n):
  if pos % 2 == 0:
    r = 3 ** j
    j += 1
  else:
    r = 2 ** k
    k += 1
  pos += 1
print(r)

13
64

## Method 2:

In [19]:
n = int(input())
if n % 2 == 0:
   n = n // 2
   print(3 ** (n -1))
else:
  n = n // 2
  print(2 ** (n))

16
2187